---
import Section from "../UI/Section/Section.astro";
import Article from "../UI/Article/Article.astro";
import Tiles, { TileItem } from "../UI/Tiles/Tiles.astro";

import headingImg from "./assets/heading.svg";
import fishingImg from "./assets/fishing.svg";
import pianoImg from "./assets/piano.svg";
import pizzaImg from "./assets/pizza.svg";

const interests: TileItem[] = [
  {
    logoSrc: fishingImg,
    subtitle: "Outdoors",
    title: "Fishing",
    text: "Here in Rio Grande we take Fly Fishing seriously. When the season is off, I tie my own flies and also go surf fishing on the beach",
  },
  {
    logoSrc: pianoImg,
    subtitle: "Arts",
    title: "Piano",
    text: "I’ve playing piano for several years, it used to be more than a hobby in the past. Nowadays it’s there for eventual diminished scale smashing.",
  },
  {
    logoSrc: pizzaImg,
    subtitle: "Food",
    title: "Pizza",
    text: "Ah! Pizza!",
  },
];
---

<Section name="About" {headingImg}>
  <Article name="Bio">
    <p>
      Straight from the south of Argentina, Rio Grande, I grew up to become a
      <strong>COMPUTER GEEK</strong>
      (proudly). Since I was a little boy, I’ve been around computers and other small
      devices, like watches, as well.
    </p>
    <p>
      Eventually I started my college days as Musical Arts Student, and fall in
      love with Classical Music and Jazz. I played in a Jazz Quartet while
      living in Tucuman, Argentina, until I later discovered that I didn't want
      to live off the music.
    </p>
    <p>
      After a couple of years of experimenting, I went back to my roots and
      started studying
      <strong>Computer Programming</strong>, and finally found my vocation.
    </p>
    <p>
      In the present day, I like to focus all my time to
      <strong>delivering Great Experiences</strong>, that doesn’t only cover the
      mandatory guidelines, but also give an extra value to users, clients,
      designers and developers, through innovation and good practices.
    </p>
    <p>
      Curious by nature, I keep constantly learning and practicing new skills
      and technologies.
    </p>
  </Article>
  <Article name="Interests">
    <Tiles items={interests} />
  </Article>
</Section>
