---
import BaseLayout from "../layouts/BaseLayout.astro";

import { FeaturedTechs } from "../data/techs";

import { projects } from "../data/projects";
import ProjectCard from "@components/ProjectCard.astro";
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 md:mt-5">
    <h1 class="text-5xl font-bold">
      I'm <span class="text-primary">Carlos Frias</span>
    </h1>
    <div class="flex gap-2 items-center mb-4">
      <div class="line"></div><p class="text-3xl">
        Front-end Software Engineer
      </p>
    </div>
    <div class="pl-4 pt-1 pb-1 mb-8 border-l border-base-300">
      <p class="text-lg">
        I'm a passionate Software Engineer from Argentina with <strong
          class="text-accent">5+ years of experience</strong
        >. My main goal is to always deliver high-value accessible products.
        I've been <strong class="text-accent">leading teams for 3+ years</strong
        > to success, from prototyping solutions to fully functional mission critical
        products.
      </p>
    </div>
    <h2 class="text-3xl mb-4">Tech Stack</h2>
    <div
      class="pl-4 pt-1 pb-1 mb-8 border-l border-base-300 flex flex-wrap gap-4"
    >
      {
        FeaturedTechs.map((tech) => {
          return (
            <li class="p-1 rounded-lg block">
              <img
                class="size-12"
                src={tech.icon.src}
                title={tech.name}
                alt={`${tech.name} Icon`}
              />
            </li>
          );
        })
      }
    </div>
    <div>
      <a class="btn" href="mailto:carlos.a.frias@gmail.com" target="_blank">
        Let's connect!</a
      >
    </div>
  </div>

  <section>
    <h2 class="text-3xl w-full font-bold mb-4">My last projects {"</>"}</h2>

    <div class="pl-4 pt-1 pb-1 mb-8 border-l border-base-300">
      <ul class="flex flex-col gap-4 ml-4">
        {
          projects.map((project) => {
            return (
              <li>
                <ProjectCard {...project} />
              </li>
            );
          })
        }
      </ul>
    </div>
  </section>
</BaseLayout>

<style>
  .line {
    display: none;
  }

  @media screen(md) {
    .line {
      display: block;
      height: 1px;
      width: 4rem;
      background: oklch(var(--s));
    }
  }
</style>
